/* General Styles */
.ta .shiny-input-container {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

#left-panel .ta .form-control {
  font-family: monospace, serif;
  resize: vertical;
  width: 100%;
  height: calc(100vh - 200px);
}

#md2html-preview > article, #md2html-preview > div {
  margin: 0;
}

code.md {
  background-color: var(--bs-body-bg);
}

table.markdown {
  text-indent: -4px;
}

/* Floating Labels */
#md2html-type_css-label {
  float: left;
}

#md2html-type_css .shiny-options-group {
  float: left;
  padding-left: 20px;
}

/* Media Query */
@media screen and (max-width: 768px) {
  .ta .form-control {
    height: 300px;
  }

  #left-panel .card {
    height: 350px;
  }

  #right-panel .card {
    height: 100%;
  }
}